$grid-columns: 12;
$gap: 2.1rem;


/// COLORS ///
$color-text: #4A4A4A;
$color-label: #141414;
$color-primary: #B5CB4A;
$color-success: #7ED321;
$color-success-soft: rgba(126,211,33,0.15);
$color-error: #EF5350;
$color-error-soft: rgba(239,83,80,0.04);
$color-bkg-gray: #F2F3F5;
$color-gray-light: #9B9B9B;
$color-border-option: #F3F3F3;